@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @font-face {
        font-family: 'Permanent Marker';
        src: url(/fonts/PermanentMarker-Regular.woff2) format('woff2'),
            url(/fonts/PermanentMarker-Regular.woff) format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Reddit Sans';
        src: url(/fonts/RedditSans-Regular.woff2) format('woff2'),
            url(/fonts/RedditSans-Regular.woff) format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Reddit Mono';
        src: url(/fonts/RedditMono-Regular.woff2) format('woff2'),
            url(/fonts/RedditMono-Regular.woff) format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Reddit Sans';
        src: url(/fonts/RedditSans-Italic.woff2) format('woff2'),
            url(/fonts/RedditSans-Italic.woff) format('woff');
        font-weight: normal;
        font-style: italic;
        font-display: swap;
    }
    
    
  }

  