<div class="relative bg-amber-100 overflow-visible">
    <div class=" flex justify-between pt-12 px-6 lg:px-24 z-10">
      <!-- Text Block (1/2 width on large screens) -->
      <div class="max-w-4xl mb-8">
        <h2 id="wat-is-spontaan-demonstreren" class="text-xl font-display font-semibold text-orange-600 lg:max-w-lg">Duidelijk</h2>
        <p class="mt-2 mb-8 lg:max-w-lg text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">Wat is spontaan demonstreren?</p>
      <div class="lg:ml-24">
        <p class="mt-6 text-xl text-gray-600">Een spontane demonstratie heeft de volgende kenmerken:</p>
        <ul class="space-y-4 mt-6 text-gray-600 text-xl dark:text-gray-600">
            <li class="flex items-center space-x-3 rtl:space-x-reverse ">
                <img src="/images/tick1.svg" alt="App Screenshot" class="h-6 w-auto">
                <span>Twee of meer mensen komen openbaar samen</span>
            </li>
            <li class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="/images/tick2.svg" alt="App Screenshot" class="h-6 w-auto">
                <span>Er wordt een idee geuit</span>
            </li>
            <li class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="/images/tick3.svg" alt="App Screenshot" class="h-6 w-auto">
                <span>De demonstratie wordt niet vooraf officieel aangekondigd bij je gemeente</span>
            </li>
        </ul>
    </div>
    </div>
</div>
  