<div class="bg-green-900 py-16 px-6 sm:px-12 lg:px-24">

    <!-- Container for the title, description, and cards -->
    <div class="max-w-screen-xl mx-auto text-left">
      <!-- Title and Description -->
      <div class="mb-12 lg:max-w-lg">
        <h2 id="waarom-spontaan-demonstreren" class="text-xl font-semibold text-orange-600 font-display">Sterker</h2>
        <p class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-100 sm:text-5xl">Waarom spontaan demonstreren?</p>
        <p class="mt-6 pb-4 text-lg/8 text-gray-200 lg:ml-24">Waarom zou je spontaan demonstreren? Spontaan demonstreren heeft meerdere voordelen.</p>
      </div>
  
      <!-- Cards Block -->
      <div class="flex flex-col lg:flex-row gap-6 lg:mb-10">

        <!-- Card 1: Energiek -->
        <div class="flex flex-col items-center bg-amber-100 p-6 rounded-lg shadow-lg lg:-translate-y-6">
          <img src="/images/fire.svg" alt="Een lijntekening van een hoog brandend vuur" class="max-h-sm h-auto mx-auto">
          <h3 class="mb-2 mt-6 text-2xl font-semibold tracking-tight text-gray-900">Energiek.</h3>
          <p class="mb-3 text-gray-700">Spontane demonstraties geven je energie! Een spontane demonstratie kan direct inspelen op recente gebeurtenissen. Je voert samen met anderen actie, op een manier die voor jou werkt.</p>
        </div>
  
        <!-- Card 2: Effectief -->
        <div class="flex flex-col items-center bg-amber-100 p-6 rounded-lg shadow-lg lg:translate-y-12">
          <img src="/images/target.svg" alt="Lijntekening van een schietschijf met in het middel een pijl" class="max-h-sm h-auto mx-auto">
          <h3 class="mb-2 mt-6 text-2xl font-semibold tracking-tight text-gray-900">Effectief.</h3>
          <p class="mb-3 text-gray-700">Spontane demonstraties zijn effectiever. Aangekondigde demonstraties worden steeds vaker ergens in een hoekje achteraf weggezet. Met een spontane demonstratie kun je direct jouw boodschap overbrengen en je doel bereiken.</p>
        </div>
  
        <!-- Card 3: Controle -->
        <div class="flex flex-col items-center bg-amber-100 p-6 rounded-lg shadow-lg">
          <img src="/images/fist.svg" alt="Lijntekening van een geheven vuist" class="max-w-sm h-auto mx-auto">
          <h3 class="mb-2 mt-6 text-2xl font-semibold tracking-tight text-gray-900">Behoud de controle.</h3>
          <p class="mb-3 text-gray-700">Met spontaan demonstreren behoud je de controle. Steeds vaker misbruiken burgemeesters de officiële aankondiging van een demonstratie om je onnodig in te perken. Dat is niet oké. Een spontane demonstratie is niet officieel aangekondigd. Dus kunnen burgemeesters ook geen aankondiging misbruiken om je demonstratie in te perken. Zo behoud je zelf de controle.</p>
        </div>
      </div>
    </div>
  </div>
  