<div class="bg-green-900 py-16 px-6 sm:px-12 lg:px-24">

    <!-- Container for the title, description, and cards -->
    <div class="max-w-screen-xl mx-auto text-left">
      <!-- Title and Description -->
      <div class="mb-12 lg:max-w-lg">
        <h2 id="waarom-spontaan-demonstreren" class="text-xl font-semibold text-orange-600 font-display">{{ i18n "stronger" }}</h2>
        <p class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-100 sm:text-5xl">{{ i18n "why_title" }}</p>
        <p class="mt-6 pb-4 text-lg/8 text-gray-200 lg:ml-24">{{ i18n "why_explanation" }}</p>
      </div>
  
      <!-- Cards Block -->
      <div class="flex flex-col lg:flex-row gap-6 lg:mb-10">

        <!-- Card 1: Energiek -->
        <div class="flex flex-col items-center bg-amber-100 p-6 rounded-lg shadow-lg lg:-translate-y-6">
          <img src="/images/fire.svg" alt="{{ i18n "fire_drawing" }}" class="max-h-sm h-auto mx-auto">
          <h3 class="mb-2 mt-6 text-2xl font-semibold tracking-tight text-gray-900">{{ i18n "energetic_title" }}</h3>
          <p class="mb-3 text-gray-700">{{ i18n "energetic_description" }}</p>
        </div>
  
        <!-- Card 2: Effectief -->
        <div class="flex flex-col items-center bg-amber-100 p-6 rounded-lg shadow-lg lg:translate-y-12">
          <img src="/images/target.svg" alt="{{ i18n "arrow_drawing" }}" class="max-h-sm h-auto mx-auto">
          <h3 class="mb-2 mt-6 text-2xl font-semibold tracking-tight text-gray-900">{{ i18n "effective_title" }}</h3>
          <p class="mb-3 text-gray-700">{{ i18n "effective_description" }}</p>
        </div>
  
        <!-- Card 3: Controle -->
        <div class="flex flex-col items-center bg-amber-100 p-6 rounded-lg shadow-lg">
          <img src="/images/fist.svg" alt="" class="max-w-sm h-auto mx-auto">
          <h3 class="mb-2 mt-6 text-2xl font-semibold tracking-tight text-gray-900">{{ i18n "control_title" }}</h3>
          <p class="mb-3 text-gray-700">{{ i18n "control_description" }}</p>
        </div>
      </div>
    </div>
  </div>
  