<footer class="p-4 pb-10 bg-green-900 md:p-8 lg:p-10">
    <div class="mx-auto max-w-screen-xl text-center">
        <p class="my-6 text-slate-100">
            Heb je vragen of opmerkingen? <a href="mailto:demonstreer@proton.me" class="underline underline-offset-2 decoration-2 hover:text-amber-100 hover:decoration-amber-100">Neem contact op.</a>
        </p>
        <span class="text-sm text-slate-100 font-mono sm:text-center">Status van dit initiatief: </span>
        <span class="bg-green-100 text-green-800 text-xs font-medium ml-2 px-2.5 py-0.5 rounded">Actief</span>
    </div>
  </footer>