<div class="relative bg-amber-100 overflow-hidden">
    <!-- Background Image -->
    <!-- <div class="absolute bottom-0 left-0 w-full h-1/2 bg-cover bg-center z-0 lg:-mb-24" style="background-image: url('/images/banner.png');"></div> -->
  
    <!-- Hero Section -->
    <div class="relative flex flex-col lg:flex-row items-center justify-between pt-16 pb-4 px-6 lg:pl-24 z-10 gap-x-8">
      <!-- Text Block (2/3 width on large screens) -->
      <div class="w-full lg:w-2/3 max-w-2xl text-center lg:text-left mb-12 lg:mb-0">
        <h1 class="text-6xl s:text-4xl md:text-8xl lg:text-8xl text-gray-900 italic mb-10 font-display">
          Demonstreer spontaan!
        </h1>
        <p class="text-lg sm:text-xl lg:text-2xl text-gray-600 mb-10">
        Met een spontane demonstratie uit je samen openbaar je mening, zónder dat je dit vooraf aankondigt bij je gemeente. Spontane demonstraties zijn energiek en effectief. Je mag in Nederland gewoon spontaan demonstreren. Dus grijp die kans, demonstreer spontaan! 
        </p>
        <div class="mt-10 flex items-center gap-x-6">
          <a href="#doe-mee" class="px-6 py-3 font-mono uppercase text-white bg-orange-600 rounded-md text-lg hover:bg-orange-700">
            Doe mee
          </a>
          <a href="#ondersteund-door" class="text-lg font-semibold font-mono text-gray-900 hover:text-orange-600">Organisaties <span aria-hidden="true">→</span></a>
        </div>
      </div>
  
      <!-- Image Block (1/3 width on large screens) -->
      <div class="mx-auto max-w-lg lg:max-w-xl mt-8 lg:mt-0">
        <img src="/images/megaphone.png" alt="App Screenshot" class="w-full h-auto rounded-lg">
      </div>
    </div>
</div>
  