<div class="bg-green-900 py-12 sm:py-16">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <h2 id="ondersteund-door" class="text-center text-pretty text-4xl font-semibold tracking-tight text-slate-100 mb-6">Je bent in goed gezelschap</h2>
        <p class="text-center max-w-2xl mx-auto text-lg/8 text-slate-100 mb-10">Spontaan demonstreren wordt ondersteund door de meest vooruitstrevende groepen in Nederland.</p>
        <div class="mt-10">
            <ul class="flex gap-x-10 gap-y-6 flex-wrap items-center justify-center md:gap-x-16">
              <li>
                <a href="https://extinctionrebellion.nl/community/justice-now/" class="col-span-2 lg:col-span-1 relative group">
                  <img class="max-h-28 w-auto object-contain rounded-lg hover:grayscale rotate-3" 
                  src="/images/logo-XR-justice-now.jpg" 
                  alt="Logo Extinction Rebellion Justice Now!" 
                  height="48">
                <span class="absolute inset-0 bg-orange-600 mix-blend-color opacity-0 group-hover:opacity-100 rounded-lg transition-opacity rotate-3"></span>
              </a>
              </li>
              <li>
                <a href="https://migreat.org/nl" 
                class="col-span-2 lg:col-span-1 relative group">
                <img class="max-h-28 w-auto object-contain rounded-lg hover:grayscale -rotate-6" src="/images/logo-migreat.png" alt="Logo Migreat">
                <span class="absolute inset-0 bg-orange-600 mix-blend-color opacity-0 group-hover:opacity-100 rounded-lg transition-opacity -rotate-6"></span>
              </a>
              </li>
              <li>
                <a href="https://www.platformstopracisme.nl"                class="col-span-2 lg:col-span-2 relative group">
                  <img class="max-h-24 w-auto object-contain p-2 bg-white rounded-lg hover:grayscale rotate-6" src="/images/logo-platform-stop-racisme.png" alt="Logo Platform Stop Racisme en Fascisme">
                  <span class="absolute inset-0 bg-orange-600 mix-blend-color opacity-0 group-hover:opacity-100 rounded-lg transition-opacity rotate-6"></span>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/alkmaarvoorpalestina/" class="block max-h-20 max-w-sm p-4 bg-amber-100 border border-gray-200 rounded-lg shadow col-span-2 lg:col-span-1 items-center rotate-6">
                   <p class="text-lg font-bold tracking-tight text-gray-900 hover:text-orange-600 ">Alkmaar voor Palestina</p>
               </a>
             </li>
              <li>
                <a href="https://www.instagram.com/week.4palestinenl" 
                class="col-span-2 lg:col-span-1 relative group">
                <img class="max-h-28 w-auto object-contain rounded-lg hover:grayscale -rotate-3" src="/images/logo-week4palestine.jpg" alt="Logo Week 4 Palestine NL">
                <span class="absolute inset-0 bg-orange-600 mix-blend-color opacity-0 group-hover:opacity-100 p-2 rounded-lg transition-opacity -rotate-3"></span>
              </a></li>
            </li>
              <li>
                <a href="https://www.instagram.com/zaankanters4palestine/" class="col-span-2 lg:col-span-1 items-center relative group">
                  <img class="max-h-28 w-auto object-contain rounded-lg hover:brightness-75 -rotate-12" src="/images/logo-zaankanters-voor-palestina.jpg" alt="Logo Zaankanters voor Palestina">
                  <span class="absolute inset-0 bg-orange-600 mix-blend-color opacity-0 group-hover:opacity-100 p-2 rounded-lg transition-opacity -rotate-12"></span>
                </a>
            </li>
            <li>
              <a href="#doe-mee" class="block max-h-20 max-w-sm p-4 border border-2 border-dashed border-amber-100 rounded-lg shadow col-span-2 lg:col-span-1 items-center hover:bg-orange-600 -rotate-3">
                 <p class="text-lg font-bold tracking-tight text-amber-100">Jouw groep straks hier?</p>
             </a>
           </li>
            </ul>
        </div>
    </div>
</div>