<div class="overflow-hidden bg-amber-100 px-6 py-10 sm:py-12 lg:px-8">
    <div class="mx-auto max-w-lg lg:max-w-xl">
      <div class="content-center mb-16">
        <img src="/images/drum.png" alt="Een grote trommel waar met zwevende trommelstokken op getrommeld wordt" class="h-auto rounded-lg w-full lg:w-3/4">
      </div>
      <!-- <div class="inline-flex items-center justify-center w-full">
        <hr class="w-64 h-1 my-10 bg-green-900 border-0 rounded ">
      </div> -->

      <div class="inline-flex items-center justify-center w-full my-8">
        <div class="absolute px-4 -translate-x-1/2 bg-amber-100 left-1/2">
          <img src="/images/quotes.svg" alt="Citaat aanhalingstekens" class="mx-auto">
        </div>
      </div>
    
      <figure class="mt-8 lg:my-8">
        <blockquote class="text-center font-mono text-2xl lg:text-4xl font-semibold text-gray-900">
          <p>{{ i18n "amnesty_quote" }}</p>
        </blockquote>
        <figcaption class="mt-10">
          <div class="mt-4 flex items-center justify-center space-x-3">
            <img class="h-20 w-auto rounded-lg drop-shadow-md" src="/images/logo-amnesty.jpg" alt="Logo Amnestry International">
          </div>
        </figcaption>
      </figure>
    </div>
